<%- include('../partials/header') %>
<a href="/job-titles/create" class="btn btn-primary mt-5">Add new job title</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Job Title</th>
      <th scope="col">Job Description</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% jobTitles.forEach(jobTitle => { %>
      <tr>
        <th scope="row"><%= jobTitle.name %></th>
        <td><%= jobTitle.description %></td>
        <td>
          <a href="/job-titles/<%= jobTitle._id %>" class="btn btn-warning disabled"><i class="bi bi-pencil-fill"></i></a>
          <a href="javascript:;" onclick="deleteJobTitle(`<%= jobTitle._id %>`)" class="btn btn-danger disabled"><i class="bi bi-trash"></i></a>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>
<%- include('../partials/footer') %>