<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
      <% countries.forEach((country) =>{ %>
          <li> <%= country %> </li>
      <% }) %> 
      
      <% for (let i= 0; i < countries.length; i++) { %> 
          <% if (countries [i] == 0) { %>
            <li> <%= countries.name%> cela da e</li>
          <% } else { %> 
            <li> <%= countries.name%> ne e cela</li>


          <% } %>
      <% } %>

    </ul>


    
  
  </body>
</html>
