<!-- Include the code that we have extracted out of this file to partials/header (repeating code) -->
<%- include('../partials/header') %>
<h3>Update user with name <%= employee.first_name + ' ' + employee.last_name %></h3>
<form action="/employees/<%= employee._id %>" method="post" class="mt-5" style="width: 500px; margin: 0 auto;">
  <div class="input-group">
    <span class="input-group-text">First and Last Name</span>
    <input type="text" aria-label="First name" class="form-control" name="first_name" value="<%= employee.first_name %>">
    <input type="text" aria-label="Last name" class="form-control" name="last_name" value="<%= employee.last_name %>">
  </div>
  <div class="mb-3 mt-3">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" name="email" value="<%= employee.email %>">
  </div>
  <div class="input-group mt-3">
    <span class="input-group-text">$</span>
    <input type="text" class="form-control" placeholder="Monthly Salary" aria-label="Amount (to the nearest dollar)" name="salary" value="<%= employee.salary %>">
    <span class="input-group-text">.00</span>
  </div>
  <button type="submit" class="btn btn-primary mt-3">Update</button>
</form>
<!-- Include the code that we have extracted out of this file to partials/footer (repeating code) -->
<%- include('../partials/footer') %>
